/*Contenedor principal del formulario de inicio sesion*/
.login-container {
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    border: 5px solid #ccc;  /*grosor del borde*/
    border-radius: 6px;
}

.login-title {
    text-align: center;   /* para centrar el texto*/
    padding: 40px;
}

.login-form label {
    display: block;
    margin-top: 10px;
}

.login-form input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #187bcd;
}